<div class="row">
  <div class="col-md-8">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">What type of cancer do you have?</label>
        <select class="form-control" name="category">
          <option>Choose option</option>
          <option>Brain</option>
          <option>Breast</option>
          <option>Cervical</option>
          <option>Colon (large bowel)</option>
          <option>Lung</option>
          <option>Prostate</option>
          <option>Rectal</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class="col-md-4">Right-hand help</div>
</div>
