
<div class="row-fluid">
  <div class="col-md-6">
<h1 style="color:#338676"><b>Cancer survivors have something unique to share.</h1></b><div class="lead">Their own data and shared experiences may help the next person diagnosed with cancer.</div>

<p>The Cancer CodeBreaker web application will translate survivor experiences into a research database that will accelerate the search for new therapies, perhaps more effectively than any other contribution a survivor could make as an individual.<sup>1</sup></p>
</div>
  <sup>1</sup> 
</div>
