
<div class="row-fluid">
  <div class="col-md-6">
<h1 style="color:#338676"><b>Cancer survivors have something unique to share.</h1></b><div class="lead">Their own data and shared experiences may help the recovery of the next person diagnosed with cancer.</div>

<p>The Cancer CodeBreaker web application translates survivor experiences into a research database that accelerates the search for new cancer therapies<sup>1</sup>.</p>

<p>This project aims to benefit cancer survivors by giving them the tools to:</p>
<ul>
<li>Create and maintain their own personalized and concise medical records.</li>
<li>Track various treatment options they have selected.</li>
<li>Communicate their choices with their care team.</li>
</ul>
 

<p>A well-designed crowdsourcing approach such as Cancer CodeBreaker has immense potential to generate a clinically-relevant database larger than most currently existing registries.It is certainly a faster approach to collecting cutting edge data than conventional clinical trials.<sup>2</sup> </p>


<br>
<br>
  <sup>1 Parkinson DR, Johnson BE, Sledge GW. Making personalized cancer medicine a reality: challenges and opportunities in the development of biomarkers and companion diagnostics. Clinical cancer research : an official journal of the American Association for Cancer Research. 2012;18(3):619-624. 
</sup>
<br>
 <sup>2 Lyu H, Cooper M, Patel K, Daniel M, Makary MA. Prevalence and Data Transparency of National Clinical Registries in the United States. Journal for Healthcare Quality. 2015; early online publication. 
</sup>
</div>

<div class="col-md-6">

<%= image_tag 'http://yourbellalife.com/wp-content/uploads/2013/01/po9kjc0nsc5ge.jpeg', :size=> "390x290"%>
<br>
<br>



</div>
</div>
