
<div class="row-fluid">
  <div class="col-md-8">
<h1 style="color:#338676"><b>Cancer CodeBreaker helps those living with cancer take charge of their data.</b></h1>

<div class="lead"> We are a survivor-centered project. We believe that data is power. We want to accelerate the search for new cancer therapies. We want to connect each other for both community and advancement.</div>
<p><p>
Our goal is to make it easy for you to share, use, and explore your data. We help you to:
<li>Manage appointments, get updates, and track treatment options</li>
<li>Join a community of data-empowered enthusiasts living with cancer</li>
<li>Learn about clinical trials in your area, and select to allow researchers to contact you about clinical trials.</li>
<li>Securely contribute your data, the way you want it, to a research-quality database of key clinical and tumor-related variables.</li>
</ul>
<p>
<p>Cancer CodeBreaker translates survivor experiences, according to your privacy settings, into a research database that accelerates the search for new cancer therapies<sup>1</sup>. </p>

	A well-designed crowdsourcing approach such as Cancer CodeBreaker has immense potential to generate a clinically-relevant database larger than most currently existing registries. It is certainly a faster approach to collecting cutting edge data than conventional clinical trials.<sup>2</sup> </p>


<br>
<br>
  <sup>1 Parkinson DR, Johnson BE, Sledge GW. Making personalized cancer medicine a reality: challenges and opportunities in the development of biomarkers and companion diagnostics. Clinical cancer research : an official journal of the American Association for Cancer Research. 2012;18(3):619-624. 
</sup>
<br>
 <sup>2 Lyu H, Cooper M, Patel K, Daniel M, Makary MA. Prevalence and Data Transparency of National Clinical Registries in the United States. Journal for Healthcare Quality. 2015; early online publication. 
</sup>
</div>

<div class="col-md-4">

<%= image_tag 'http://yourbellalife.com/wp-content/uploads/2013/01/po9kjc0nsc5ge.jpeg',  :size=> "390x290" %>  
<br>
<br>



</div>
</div>
