<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(41.865991, -87.605386),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="row-fluid">
  <div id="tagline" class="col-md-8">
    <p>We all want to accelerate the discovery of effective treatments for cancer, for ourselves, for our kids, for future families. There is one thing that only we survivors can do that will quicken the pace of cancer research -<b> share our data</b>.

    <div class="lead">Share, Connect, and Empower with the Community.</div>
    <p><%= link_to "Start Here !", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
  <div id="map-box" class="col-md-4">
    <div id="map-canvas"></div>
  </div>
</div>

<div id="circle-row" class="row-fluid">
  <center>
  <div class="col-md-4">
  <img src="http://bygghjalphemma.se/wp-content/uploads/2014/11/bill-gates-wealthiest-person.jpg" class="img-circle">
  </div>
  <div class="col-md-4">
  <img src="http://jerryrushing.net/wp-content/uploads/2012/05/happy-people.jpg" class="img-circle">
  </div>
  <div class="col-md-4">
  <img src="http://blog.gaiam.com/wp-content/uploads/2010/03/ecokidWeb.jpg" class="img-circle">
  </div>
</div>
