

  <h4> Transform our experience into the knowledge needed to save lives</h4>
  <br>
  <p>We all want to accelerate the discovery of effective treatments for cancer, for ourselves, for our kids, for future families. There is one thing that only we survivors can do that will quicken the pace of cancer research-<b> share our data</b>.  
  </p>





    <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>


  
