// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 70px;
  }
}


body {
  padding-top: 140px;
  background-color: rgba(57,153,127,0.2);
}

#welcome-text {
  margin: 20px;
}


#tagline {
  background-color: rgba(57,153,127,0.2);
  min-height: 360px;
}

#map-box {
  background-color: rgba(57,153,127,0.2);
  min-height: 360px;
}


#circle-row {
  margin: 50px 0px 50px 0px;
}

.img-circle {
  margin: 0px;
  width: 200px;
  height: 200px;
}

#map-canvas {
  margin: 20px;
  width: 320px;
  height: 320px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -border-radius: 160px;
}

.form_group{
  width: 90%;
}

span.radio{
  padding-left: 30px;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #338676;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #255965;
}

footer a {
    color: #a0a0a0;
}

footer a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #255965;
}
